/* body { */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.about {
    text-align: end;
}

.text {
    line-height: 2;
}

.camera {
    width: 205px;
    height: 155px;
    background-color: #d6d6d6;
    border-radius: 15px;
    box-shadow: 0 10px 15px -13px black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.lens {
    width: 125px;
    height: 125px;
    background-color: #f5f5f5;
    box-shadow: 0 8px 0 0 #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.inner-lens {
    width: 105px;
    height: 105px;
    background-color: #00695c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.inner-lens-2 {
    border-top: 31px solid #00897b;
    border-right: 31px solid #4db6ac;
    border-bottom: 31px solid #80cbc4;
    border-left: 31px solid #26a69a;
    border-radius: 50%;
}

.flash {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #c0c0c0;
    right: 15px;
    top: 15px;
}

.button {
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: #009587;
    border-radius: 60px;
    left: 16px;
    top: -5px;
}


/* ******************************************** */

.diamond {
    position: relative;
    width: 200px;
    height: 200px;
    transform: rotate(45deg);
    margin: 0 150px;
}


span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 50px solid #20bc7d;
    border-bottom: 50px solid #26c893;
    border-left: 50px solid transparent;
}

span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 50px solid #1fb67c;
    border-right: 50px solid #20bc7d;
    border-bottom: 50px solid #26c893;
    border-left: 50px solid #55ddb9;
}

span:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #1fb67c;
    border-right: 50px solid #20bc7d;
    border-bottom: 50px solid #26c893;
    border-left: 50px solid #55ddb9;
}

span:nth-child(4) {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 50px solid #1fb67c;
    border-right: 50px solid #20bc7d;
    border-bottom: 50px solid #26c893;
    border-left: 50px solid #55ddb9;
}

/* *********************** */

.graphics {
    display: flex;
}

.graphics p {
    text-align: center;
}

.camera-container {
    margin-left: 100px;
}