/* css code */
*{
    box-sizing: border-box;
    font-size: 18px;
    /* font-size: 100%; */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 4em;
    /* margin-top: 0.6em;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0; */
    font-weight: 800;
    margin-block-start: .5em;
    margin-block-end: .3em;
  }

h2, caption {
    font-size: 1.875em;
    /* margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0; */
    font-weight: bold;
    margin-block-start: .83em;
    margin-block-end: .83em;
  }

p {
    font-size: 0.85em;   
    margin-block-start: 1em;
    margin-block-end: .65em;
}

/* define the maximum width of the container as 1200px:
'max-width' property sets a maximum width of 1200px,
'width: 100%' sets the content inside .wrapper  to fill the maximum 
space of their container (1200px),
'margin: 0 auto' centers .wrapper in the window for larger windows ( > 1200px) */

body div.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* start styling of the header elements */

header {
    position: relative;
    background-color: #222222;
    width: auto;
    height: 27.7em;
    padding: .7em;
}

header .yellowbox {
    background-color: #c78c06;
    padding: 5.3em;
}

header .logo {
    position: absolute;
    top: 1.4em;
    /* logo's stars color #ffe6ac to use later */
}

header .navbar {
    position: absolute;
    bottom: 3.75em;
    left: 0;
    right: 0;
}

header .navlist .navitem a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    /* list-style-type: none; */
    padding: 1em;
    color: #c78c06;
}

header .navlist .one a{
    color: #222222;
}

header .search-submit #search {
    position: absolute;
    bottom: 0;
    left: 0;
    /* right: 3.05263em; */
    right: 3.10526em;
    /* right: 3.15789em; */
    margin: 0 0 .7em .7em;
    padding: .45em .25em;
}

header .search-submit .btn-search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #c78c06;
    padding: .5em .65em;
    border: .0625em solid #c78c06;
    margin-right: .7em;
    margin-bottom: .7em;
    background-color: transparent;
}

/* end styling of the 'header' elements */

/* start styling of the 'main' elements */

main h1, h2, 
form button, label, table {
    text-transform: capitalize;
}

main #home form button,
main #services form button,
main #vision form button,
main #contact form button {
    font-size: 1.355rem;
}

main img {
    width: 100%;
    height: auto;
}

/* applying background color to main elements */

main #about-us, 
#services article.digital,
article.marketing,
article.video,
article.web,
article.print,
#team article.john,
#team article.bob
 {
    background-color: #ffe6ac;
}

/* start applying style to all buttons of 'main'*/

main #services form button,
#home form button,
#vision form button,
#contact form button {
    display: flex;
    padding: 1.5em;
    background-color: #222222;
    color: #fff;
    border: none;
}

main #services form button .fa-play,
#home form button .fa-play,
#vision form button .fa-play {
    padding-left: 1em;
}

/* end applying style to all buttons of 'main'*/

/* start styling of the section #home elements */

main #home h1, 
main #home p.par {
    color: #fff;
    text-transform: none;
}

main #home form button {
    text-transform: none;
    color: #000;
    background-color: #c78c06;
}

main #home div.welcome {
    width: 100%;
    height: auto;
    position: relative;
    padding: .7em .7em .7em .7em;
    bottom: 540px;
    z-index: 1;
}

main #home div.welcome::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: .68;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* end styling of the section #home elements */

/* start styling of the section #about-us elements */


/* end styling of the section #about-us elements */

/* start styling of the section #services elements */



/* end styling of the section #services elements */

/* start styling of the section #vision elements */



/* end styling of the section #vision elements */

main #vision form button {
    border: .0625em solid #c78c06;
}

/* start styling of the section #team elements */

main #team p.par-teammate {
    font-weight: bold;
}

main hr {
    border-color: #c78c06;
    margin-bottom: 1em;
}

/* end styling of the section #team elements */

/* start styling of the section #contact elements */

main #contact h2, caption {
    text-transform: none;
}

main #contact caption {
    text-align: left;
}

/* start styling of the article .message elements */

main #contact .message div {
    display: grid;
}

main #contact .message form button {
    padding: .35em;
    color: #c78c06;
}

/* end styling of the article .message elements */

/* start styling of the article .operation elements */

main #contact .operation table, .operation td, .operation th {
    border: .0625em solid black;
    padding: 0.3125em;
    /* font-weight: inherit; */
}

main #contact .operation table th {
    background-color: #ffe6ac;
    font-weight: bold;
}

main #contact .operation table {
    width: 100%;
}

/* end styling of the article .operation elements */

/* start styling of the article .location elements */

iframe {
    border: 0;
    width: 100%;
    height: 200px;
}

/* end styling of the article .location elements */

/* end styling of the section #contact elements */

/* end styling of the main elements */


/* start styling of the 'footer' elements */

footer {
    background-color: #222222;
    padding: 2.5em 0em .5em 1em;
}

footer a,
footer p {
    color: #c78c06;
    margin-bottom: 1em;
}

/* end styling of the 'footer' elements */
