/* css code */

/* apply to all tags properties and values */

* {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/* define section #home header h1 properties and values*/

#home h1 {
    font-size: 4em;
    font-weight: 800;
    margin-block-start: .55em;
    margin-block-end: .3em;
}

/* define other sections header h1 properties and values*/

h1 {
    font-size: 2.7em;
    font-weight: bold;
    margin-block-start: .33em;
    margin-block-end: .33em;
}

/* define header h2 and caption properties and values*/

h2,
caption {
    font-size: 1.875em;
    font-weight: bold;
    margin-block-start: .83em;
    margin-block-end: .83em;
}

/* define paragraph p properties and values */
p {
    font-size: 0.85em;
    margin-block-start: 1em;
    margin-block-end: .65em;
}

/* define the maximum width of the container as 1200px:
'max-width' property sets a maximum width of 1200px,
'width: 100%' sets the content inside .wrapper  to fill the maximum 
space of their container (1200px),
'margin: 0 auto' centers .wrapper in the window for larger windows ( > 1200px) */

body div.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* start styling of the header elements */

header {
    position: relative;
    background-color: #222222;
    width: auto;
    height: 32.95em;
    padding: .85em;
}

header .yellowbox {
    background-color: #c78c06;
    padding: 6.26em;
}

header .logo {
    position: absolute;
    top: 2.2em;
}

header .navbar {
    position: absolute;
    bottom: 3.75em;
    left: 0;
    right: 0;
}

header nav.navbar ul.navlist li.navitem a,
li.one a {
    display: block;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1.15em;
    color: #c78c06;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.16em;
}

header nav.navbar ul.navlist li.one a {
    color: #222222;
    font-weight: 500;
}

header .search-submit #search {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 3.3em;
    margin: 0 0 .85em .85em;
    padding: .32em .25em;
}

header .search-submit .btn-search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #c78c06;
    padding: .375em .6em;
    border: .056em solid #c78c06;
    margin-right: .85em;
    margin-bottom: .85em;
    background-color: transparent;
}

/* increase size of search icon to 1.3em */

header .search-submit .btn-search-submit i.fa-solid {
    font-size: 1.3em;
}

/* end styling of the 'header' elements */

/* start styling of the 'main' elements */

main h1,
h2,
form button,
label,
table {
    text-transform: capitalize;
}

main #home form button,
main #services form button,
main #vision form button,
main #contact form button {
    font-size: 1.37rem;
}

main img {
    width: 100%;
    height: auto;
}

/* applying background color to main elements */

main #about-us,
#services article.digital,
article.marketing,
article.video,
article.web,
article.print,
#team article.john,
#team article.bob {
    background-color: #ffe6ac;
    padding: .85em;
}

/* start applying style to all buttons of 'main'*/

main #services form button,
#home form button,
#vision form button,
#contact form button {
    display: flex;
    padding: 1.55em;
    background-color: #222222;
    color: #fff;
    border: none;
}

main #services form button .fa-play,
#home form button .fa-play,
#vision form button .fa-play {
    padding-left: .8em;
}

/* align button text and icon in one line */
main section form button i.fa-solid {
    line-height: inherit;
}

/* end applying style to all buttons of 'main'*/

/* start styling of the section #home elements */

main #home h1,
main #home p.par {
    color: #fff;
    text-transform: none;
}

main #home form button {
    text-transform: none;
    color: #000;
    background-color: #c78c06;
}

/* create background layer for .welcome content
with background-color #222 and opacity .68 */

main #home div.welcome::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: .68;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* start the block div.welcome positioning 
on top of block div.img-main-banner */

main #home div.img-main-banner {
    position: relative;
    background-color: #ffe6ac;
    top: 0;
    left: 0;
}

main #home div.welcome {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: .85em .85em .85em .85em;
    z-index: 1;
    position: absolute;
    top: 33.1em;
}


/* end the block div.welcome positioning 
on top of block div.img-main-banner */


/* end styling of the section #home elements */

/* start styling of the section #about-us elements */

main #about-us {
    padding-top: .55em;
}

/* end styling of the section #about-us elements */

/* start styling of the section #services elements */



/* end styling of the section #services elements */

/* start styling of the section #vision elements */



/* end styling of the section #vision elements */

main #vision form button {
    border: .0625em solid #c78c06;
}

/* start styling of the section #team elements */

main #team p.par-teammate {
    font-weight: bold;
}

main hr {
    border-color: #c78c06;
    margin-bottom: 1em;
}

/* end styling of the section #team elements */

/* start styling of the section #contact elements */

main #contact h2,
caption {
    text-transform: none;
}

main #contact caption {
    text-align: left;
}

/* start styling of the article .message elements */

main #contact .message div {
    display: grid;
}

main #contact .message form button {
    padding: .35em;
    color: #c78c06;
}

/* end styling of the article .message elements */

/* start styling of the article .operation elements */

main #contact .operation table,
.operation td,
.operation th {
    border: .0625em solid black;
    padding: 0.3125em;
    /* font-weight: inherit; */
}

main #contact .operation table th {
    background-color: #ffe6ac;
    font-weight: bold;
}

main #contact .operation table {
    width: 100%;
}

/* end styling of the article .operation elements */

/* start styling of the article .location elements */

iframe {
    border: 0;
    width: 100%;
    height: 200px;
}

/* end styling of the article .location elements */

/* end styling of the section #contact elements */

/* end styling of the main elements */


/* start styling of the 'footer' elements */

footer {
    background-color: #222222;
    padding: 2.5em 0em .5em 1em;
}

footer a,
footer p {
    color: #c78c06;
    margin-bottom: 1em;
}

/* end styling of the 'footer' elements */